/target/
/Cargo.lock
*.DS_Store
/input/*/*/input.txt
/input/year_2023/day_21/test_examples/example_2.txt
/input/year_2023/day_24/test_examples/example_2.txt
/input/year_2023/day_25/test_examples/example_2.txt